/*base color-#ed3309 */
/*font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive; */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #7a7a7a;
}

/*------------------------------------------------*/
/*-------------------HEADER-----------------------*/
/*------------------------------------------------*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/back1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    animation-name: back;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}
@keyframes back{
    0%{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/back2.jpg);
       animation-timing-function: ease-in-out;
        animation-delay: 2s;
    }
    
     25%{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/back3.jpg);
         animation-delay: 2s;
    animation-timing-function: ease-in-out;}
     50%{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/back1.jpg);
         animation-delay: 2s;
    animation-timing-function: ease-in-out;}
    75%{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/back5.jpg);
        animation-delay: 2s;
   animation-timing-function: ease-in-out;}
   100%{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/back6.jpg);
       animation-delay: 2s;
    animation-timing-function: ease-in-out;}
}

.nav-main li{
    list-style: none;
    display: inline-block;
    padding-left: 40px;
}
.open1{
    color: #ed3309;
}
.logo{
    width: 100px;
    height: 100px;
    opacity: 0.8;
}
.nav-1{
    padding-left: 40px;
    padding-top: 20px;
}
.nav-1 a:link,.nav-1 a:visited{
    color: white;
    text-decoration: none;
    font-size: 60%;
    font-weight: 500;
    letter-spacing: 1px;
}
.nav-1 a:hover,.nav-1 a:active{
    color:#ed3309;
    text-decoration: none;
    font-size: 60%;
    font-weight: 500;
    letter-spacing: 1px;
    transition-property: color;
    transition-duration: 0.25s;
}

h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
    font-size: 360%;
    color: white;
    line-height: 70px;
    word-spacing: 4px; 
    opacity: 0.9;
}
small{
    color: #ed3309;
}
.top-text{
    text-align: center;
    position: relative;
    top: 60px;
    left: 5%;
}
.btn-main:link,.btn-main:visited{
     text-decoration: none;
    color: white;
    display: block;
    font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
    position: relative;
    left: 40%;
    top: 180px;
    font-size: 120%;
    letter-spacing: 1px;
    opacity: 0.8;
}
.btn-main:hover,.btn-main:active{
     text-decoration: none;
    color: #ed3309;
    display: block;
    font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
    position: relative;
    left: 40%;
    top: 180px;
    font-size: 120%;
    letter-spacing: 1px;
    transition-property: all;
    transition-duration: 0.5s;
    opacity: 0.7;
}
.icon1{
    position: relative;
    top: 5px;
    left: -2px;
}